<div class="sheet" [style.font-size.em]="fontScale()">
  @for (line of displayLines(); track $index) {
    @switch (line.type) {
      @case ('blank') { <div class="blank"></div> }
      @case ('label') { <div class="label">{{ line.label }}</div> }
      @case ('lyric') {
        <div class="line" [class.lyrics-only]="lyricsOnly()">
          @for (seg of line.segments; track $index) {
            <span class="seg">
              @if (!lyricsOnly()) { <span class="chord">{{ seg.chord }}</span> }
              <span class="text">{{ seg.text }}</span>
            </span>
          }
        </div>
      }
    }
  }
</div>
